.mainContainerFriend {
    margin: 32px auto;
    padding: 16px;
    border-radius: 8px;
    box-shadow: rgb(255, 255, 255) -0.0625rem -0.0625rem 0.0625rem, rgb(186, 190, 204) 0.0625rem 0.0625rem 0.0625rem;
}

.listItem {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.liItem {
    height: 120px;
    border: 1px solid black;
    border-radius: 4px;
    overflow: hidden;
}

.item {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    height: 100%;
}

.isOnline {
    color: green;
}

.isNotOnline {
    color: red;
}

.pName {
    color: black;
    font-size: 16px;
    font-weight: 700;
}